.cart-menu {
    position: fixed;
    top: 100px;  /* Adjust this value as needed */
    right: 20px; /* Adjust this value as needed */
    z-index: 1000;
    width: 300px;
    max-height: calc(100vh - 40px);
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 15px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

h2 {
    font-family: Arial, sans-serif;
    font-size: 18px;
    margin-bottom: 10px;
}

.cart-items {
    flex-grow: 1;
    overflow-y: auto;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    font-family: Arial, sans-serif;
    font-size: 14px;
}

.cart-total {
    display: flex;
    justify-content: space-between;
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid #ccc;
}

.checkout-btn-container {
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid #ccc;
}

.checkout-btn {
    width: 100%;
    padding: 10px;
    background-color: #9DBC98;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: Arial, sans-serif;
    font-size: 16px;
}

.checkout-btn:hover {
    background-color: #8CAA89;
}

.checkout-btn.disabled {
    background-color: #cccccc;
    color: #666666;
    cursor: not-allowed;
}

.delete-btn {
    background-color: #ff0000;
    color: #ffffff;
    border: none;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    font-size: 12px;
    line-height: 1;
    cursor: pointer;
    padding: 0;
    margin-left: 10px;
}

.delete-btn:hover {
    background-color: #cc0000;
}

.cart-button {
    position: relative;
}

.cart-counter {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 12px;
    display: none;
}
